<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='기자재')}"></head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>
    <div class="container-fluid">
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="imagesBtn">메인사진</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="notificationBtn">유의사항</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h2>공지사항</h2>

            <!--컨텐츠-->
            <form
                    action="/api/admin/notification"
                    enctype="multipart/form-data" id="mainImgForm" class="d-none" method="post"
                    th:method="put" th:object="${requestForm}">
                <div class="form-group">
                    <label for="images">이미지</label>
                    <select class="form-control" name="images" id="images" th:field="*{id}">
                        <option value="" selected>이미지 번호 선택하세요.</option>
                    </select>
                </div>
                <img id="img">
                <div class="form-group">
                    <label for="imageFile">미리보기</label>
                    <input type="file" class="form-control-file" id="imageFile" name="imageFile">
                </div>
                <div class="form-group">
                    <label for="subject">제목</label>
                    <input type="text" class="form-control-file" id="subject" name="subject" th:field="*{subject}">
                </div>
                <div class="form-group">
                    <label for="imgContent">내용</label>
                    <input type="text" class="form-control-file" id="imgContent" name="imgContent" th:field="*{content}">
                </div>
                <button type="submit" class="btn btn-primary" id="mainImgBtn">수정</button>
            </form>

            <form id="notificationForm" class="d-none" th:method="put" th:object="${requestForm}">
                <div class="form-group">
                    <label for="notificationContent">내용</label>
                    <textarea class="form-control-file" id="notificationContent" name="notificationContent" th:field="*{notificationContent}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#imagesBtn").click(function () {
            $("#mainImgForm").toggleClass('d-none');
            $("#notificationForm").attr('class', 'd-none');
            $("#notificationContent").val('');

            $.get('/api/admin/notification').done(function (response) {
                for (const responseElement of response) {
                    let createOption = $('<option></option>').text(responseElement.id).val(responseElement.id);
                    $("#images").append(createOption);
                }
            }).fail(() => console.log("서버 접속 실패"));

            $('#images').change(function (e) {
                $.get('/api/admin/notification/'+e.target.value).done(function (response) {
                    $("#img").attr("src", '/mainPage/' + response.img);
                    $("#subject").val(response.subject);
                    $("#imgContent").val(response.content);
                }).fail(()=>console.log("서버 접속 실패"));
            }); //#images change end

        }) // imagesBtn click end

        // 메인사진, 유의사항 창 사라지게
        $("#notificationBtn").click(function () {
            $("#notificationForm").toggleClass('d-none');
            $("#mainImgForm").attr('class', 'd-none');
            $("#images").empty();
            $("#img").attr("src",'');
            $("#subject").val('');
            $("#imgContent").val('');
        }) // notification click end

    }); // ready end
</script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>