<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: header(title='수업시간표')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/content :: content(~{::table}, '시간표')}">
    <!--    컨텐츠-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">수업명</th>
        </tr>
        <tbody th:each="classtime : ${classtimes}">
        <tr>
            <td scope="row" th:text="${classtimeStat.count}">1</td>
            <td><a href="#" th:text="${classtime.name()}" th:href="@{/admin/classtimes/edit/{no} (no = ${classtime.id()})}">카메라</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>