<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: header(title='시간표')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/content :: content(~{::table}, '시간표 삭제하기 전에 장비부터 삭제하세요.')}">
    <!--    컨텐츠-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">수업명</th>
        </tr>
        <tbody th:each="response : ${responses}">
        <tr>
            <td scope="row" th:text="${responseStat.count}">1</td>
            <td th:text="${response.classname()}">카메라</td>
            <td><a th:href="@{/admin/classtimes/delete/{classtimesId} (classtimesId = ${response.id()})}" type="button" class="btn btn-danger">삭제</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>