<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main_fragment :: header(title='계정')}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>
    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

            </div>
        </nav>
        <!--컨텐츠-->
        <div class="content">
            <form action th:object="${userRequest}" method="post">
                <div class="form-group">
                    <label for="id">아이디</label>
                    <input type="text" class="form-control" id="id" th:field="*{id}" placeholder="아이디 입력">
                    <p th:errors="*{id}"></p>
                </div>
                <div class="form-group">
                    <label for="passwd">비밀번호</label>
                    <input type="password" class="form-control" id="passwd" th:field="*{passwd}" placeholder="비밀번호 입력">
                    <p th:errors="*{passwd}"></p>
                </div>
                <div class="form-group">
                    <label for="chk_passwd">비밀번호 확인</label>
                    <input type="password" class="form-control" id="chk_passwd" th:field="*{chkPasswd}" placeholder="비밀번호 재입력">
                    <p th:errors="*{chkPasswd}"></p>
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <p th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                    <p th:errors="*{email}"></p>
                </div>
                <div class="form-group" th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="text-danger"></p>
                </div>
                <button type="submit" class="btn btn-primary">생성</button>
            </form>
        </div>

        <!--자바 스크립트-->
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </div>
</div>
</body>
</html>