<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title)">
    <meta charset="utf-8">
    <title th:text="${title}">제목</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--    <script src="/js/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <!--왼쪽 메뉴 바-->
    <nav id="sidebar" th:fragment="sidebar">
        <div class="p-4 pt-5">
            <a href="/static" class="img logo rounded-circle mb-5"
               style="background-image: url(https://www.dima.ac.kr/inc/img/logo_g.svg);"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#">소개</a>
                </li>
                <li>
                    <a href="/class-schedule">수업 기자재 표</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">기자재</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/equipment">기자재 보기</a>
                        </li>
                        <li>
                            <a href="#">유의사항</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">관리자</a>

                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/admin/equipment">기자재</a>
                        </li>
                        <li>
                            <a href="/admin/class-period">시간표</a>
                            <a href="/admin/category">카테고리</a>
                            <a href="/admin/rental">대여</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>
    <!-- 상단 메뉴 바-->
    <div id="content" class="p-4 p-md-5" th:fragment="content(contentTag, subject)">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h2 th:text="${subject}">제목</h2>

        <!--컨텐츠-->
        <div th:replace="${contentTag}">
        </div>

        <!--자바 스크립트-->
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </div>

</div>
</body>
</html>