<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="requestForm" type="com.equipment.school_equipment.request.admin.EquipmentForm"*/-->
<!--/*@thymesVar id="flag" type="java.lang.String"*/-->
<!--/*@thymesVar id="categoryObj" type="com.equipment.school_equipment.domain.Category"*/-->
<form th:fragment="createForm(requestForm, flag)" th:object="${requestForm}" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="addEquipment">기자재명</label>
        <input type="text" class="form-control" id="addEquipment" placeholder="기자재 명" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"
             class="alert alert-danger mt-1"
             role="alert"></div>
    </div>

    <div class="form-group">
        <label for="equipmentContent">장비 내용</label>
        <textarea class="form-control" id="equipmentContent" rows="3" th:field="*{content}"></textarea>
        <div th:if="${#fields.hasErrors('content')}"
             th:errors="*{content}"
             class="alert alert-danger mt-1"
             role="alert"></div>
    </div>

    <!--  기자재 수정이면  -->
    <img th:if="${flag.equals('edit')}"
         th:src="@{/equipment/{image}(image = *{imageName})}"
         width="200"
         height="200"
         src="/경로/"
         alt="장비 이미지">

    <div class="form-group">
        <label for="image">장비이미지</label>
        <input type="file" class="form-control-file" id="image" th:field="*{image}">
    </div>

    <div class="form-group">
        <label for="cnt">창고 갯수</label>
        <input type="text" class="form-control" id="cnt" placeholder="창고에 있는 갯수" th:field="*{count}">
        <div th:if="${#fields.hasErrors('count')}"
             th:errors="*{count}"
             class="alert alert-danger mt-1"
             role="alert"></div>
    </div>


    <!-- 수정일 경우 카테고리 선택 아닐 경우 선택안함 -->
    <div class="form-group">
        <label for="category">장비 카테고리</label>
        <select class="form-control" name="category" id="category" th:field="*{category}">
            <option value="">장비 카테고리 선택하세요.</option>
            <option
                    th:each="categoryObj : ${requestForm.getCategories()}"
                    th:value="${categoryObj.getCategoryId()}"
                    th:text="${categoryObj.getCategoryName()}"
                    th:selected="${categoryObj.getCategoryId()} == ${requestForm.getCategoryId()}"
            >
            </option>
        </select>
        <div th:if="${#fields.hasErrors('category')}"
             th:errors="*{category}"
             class="alert alert-danger mt-1"
             role="alert"></div>
    </div>
    <button type="submit" class="btn btn-primary" th:text="${flag.equals('edit') ? '수정' : '추가'}">버튼</button>
</form>
</body>
</html>