<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/main_fragment :: header (title = '제목')}">
    <title>타이틀</title>
</head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

    <!-- 위쪽 사이드 바-->
    <div class="container-fluid">
        <div th:insert="~{fragments/main_fragment :: content(~{::#card-deck}, '오늘 대여 기자재')}">
            <!-- 콘텐츠 -->
            <div class="row justify-content-center" id="card-deck">
                <th:block th:each="equipment : ${equipmentList}">
                    <div th:if="${equipmentStat.index % 5 == 0}" class="w-100"></div>
                    <div th:unless="${equipmentStat.index % 5 == 0}"
                         class="card ml-1 mb-3" style="width: 200px">
                        <img src="/mainPage/camara01.jpg" th:src="${equipment.img()}" width="200" height="200"
                             class="card-img-top" alt="카메라">
                        <div class="card-body">
                            <h5 class="card-title text-wrap" th:text="${equipment.equipmentName()}">Card title</h5>
                            <p class="card-text" th:text="${equipment.content()}">This is a wider card with supporting
                                text
                                below as a natural lead-in to additional content. This content is a little bit
                                longer.</p>
                            <h6>[[${equipment.retCnt()}]] / [[${equipment.leftCnt()}]]</h6>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

        </div>
        <!-- 페이징 -->
        <nav th:replace="/fragments/page :: page(pages=${pages}, url='equipment')"></nav>
    </div>

</div>
</body>
</html>