<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title)">
    <meta charset="utf-8">
    <title th:text="${title}">제목</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--    <script src="/js/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <!--왼쪽 메뉴 바-->
    <nav id="sidebar" th:fragment="sidebar">
        <div class="p-4 pt-5">
            <a href="/" class="img logo rounded-circle mb-5"
               style="background-image:url('/img/logo.png')"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#">소개</a>
                </li>
                <li>
                    <a href="/class-schedule">수업 기자재 표</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">기자재</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/equipment">기자재 보기</a>
                        </li>
                        <li>
                            <a href="/notification">유의사항</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/member/login" aria-expanded="false" class="dropdown-toggle">로그인</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a href="/member/logout" aria-expanded="false" class="dropdown-toggle">로그아웃</a>
                </li>
                <li sec:authorize="hasRole('admin')">
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">관리자</a>

                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/admin/category">상위 카테고리</a>
                        </li>
                        <li>
                            <a href="/admin/equipment">기자재</a>
                        </li>
                        <li>
                            <a href="/admin/class-period">시간표</a>
                        </li>
                        <li>
                            <a href="/admin/rental">대여</a>
                        </li>
                        <li>
                            <a href="/admin/notification">공지사항</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    <br>
                    로고 출처 <i class="icon-heart" aria-hidden="true"></i> <a
                            href="https://pixabay.com/ko/vectors/%ED%8C%9F%EC%BA%90%EC%8A%A4%ED%8A%B8-%EC%95%84%EC%9D%B4%EC%BD%98-%ED%8C%9F%EC%BA%90%EC%8A%A4%ED%8A%B8-1322239/"
                            target="_blank">바로가기</a>
                    <!-- Logo --></p>
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    <br>

                    400 에러 페이지 출처 <i class="icon-heart" aria-hidden="true"></i> <a
                            href="https://codepen.io/marianab/pen/EedpEb/"
                            target="_blank">바로가기</a>
                    <!-- Logo --></p>
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    <br>
                    500
                    에러 페이지 출처 <i class="icon-heart" aria-hidden="true"></i> <a
                            href="https://codepen.io/quinlo/pen/aajEyb"
                            target="_blank">바로가기</a>
                </p>
            </div>

        </div>
    </nav>
    <!-- 상단 메뉴 바-->
    <div id="content" class="p-4 p-md-5" th:fragment="content(contentTag, subject)">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto" th:if="${subject eq '장비목록'}">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" th:href="@{/admin/equipment(page=0)}">전체</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/admin/equipment(category='카메라')}">카메라</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/admin/equipment(category='조명')}">조명</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/admin/equipment(category='음향')}">음향</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto" th:if="${subject eq '대여'}">
                        <li class="nav-item" th:each="day : ${T(com.equipment.school_equipment.domain.enumDomain.DayOfWeekEnum).values()}">
                            <a class="nav-link" href="#" th:text="*{day.getWeek()}" th:href="@{/admin/rental(week = *{day.getName(day.getWeek())})}"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto" th:if="${subject eq '수업 시간'}">
                        <li class="nav-item" th:each="day : ${T(com.equipment.school_equipment.domain.enumDomain.DayOfWeekEnum).values()}">
                            <a class="nav-link" href="#" th:text="*{day.getWeek()}" th:href="@{/admin/class-period(week = *{day.getName(day.getWeek())})}"></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <h2 th:text="${subject}">제목</h2>

        <!--컨텐츠-->
        <div th:replace="${contentTag}">
        </div>

        <!--자바 스크립트-->
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </div>

</div>
</body>
</html>