<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper d-flex align-items-stretch" th:fragment="navbar">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="/" class="img logo rounded-circle mb-5" style="background-image: url(https://www.dima.ac.kr/inc/img/logo_g.svg);"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#">소개</a>
                </li>
                <li>
                    <a href="/classtimes">수업 기자재 표</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">기자재</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/requipment">기자재 보기</a>
                        </li>
                        <li>
                            <a href="#">유의사항</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">관리자</a>

                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/admin/equipment">기자재</a>
                        </li>
                        <li>
                            <a href="/admin/classtimes">시간표</a>
                            <a href="/admin/category">카테고리</a>
                            <a href="/admin/rental">대여</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>
    <!--    content 때문에 div 태그는 없음-->
</body>
</html>