<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<nav aria-label="Page navigation" th:fragment="page(pages, url)" th:object="${pages}"
     th:with="start=${(pages.getNumber()/10)*10 + 0},
            last=(${start + 9 < pages.getTotalPages() ? start + 9 : pages.getTotalPages()})">

    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link"
               th:href="${pages.isFirst()} ? '#' : @{/{url}(page=${pages.getNumber() - 1}, url=${url})}"
               aria-label="Previous">
                이전
            </a>
        </li>
        <li class="page-item"
            th:each="num : ${#numbers.sequence(start, last)}"
            th:classappend="${pages.getNumber() == num} ? 'active' : ''"
        >
            <a class="page-link"
               href="#"
               th:href="@{/{url}(page=${num}, url=${url})}"
               th:text="${num + 1}">1</a>
        </li>
        <li class="page-item">
            <a class="page-link"
               th:href="${pages.isLast()} ? '#' : @{/{url}(page=${pages.getNumber() + 1}, url=${url})}"
               aria-label="Next">
                다음
            </a>
        </li>
    </ul>
</nav>
</body>
</html>