<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='수업시간표')}"></head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

    <!-- 위쪽 사이드 바-->
    <div class="container-fluid">
        <div th:insert="~{fragments/main_fragment :: content(~{::#table}, '오늘 대여 기자재')}">
    <!--    컨텐츠-->
    <table class="table table-hover" id="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">수업명</th>
            <th><a th:href="@{/admin/class-period/add}" type="button" class="btn btn-primary">추가</a></th>

        </tr>
        <tbody th:each="classPeriod : ${converterList}">
        <tr>
            <td scope="row" th:text="${classPeriodStat.count}">1</td>
            <td><a href="#" th:text="${classPeriod.name()}" th:href="@{/admin/class-period/edit/{no} (no = ${classPeriod.id()})}">카메라</a></td>
            <td><a th:href="@{/admin/class-period/delete/{classtimeId} (classtimeId = ${classPeriod.id()})}" type="button" class="btn btn-danger">삭제</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>