<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header(title='수업시간표')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">요일</th>
        </tr>
        <tbody th:each="day : ${dayOfWeekEnumList}">
            <tr>
                <td scope="row" th:text="${dayStat.count}">1</td>
                <td><a href="#" th:text="${day.getWeek()}">월요일</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>