<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: header(title='수업시간표')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/content :: content(~{::table}, '수업 장비 수업표')}">
    <!--    컨텐츠-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">요일</th>
        </tr>
        <tbody th:each="day : ${dayOfWeekEnumList}">
        <tr>
            <td scope="row" th:text="${dayStat.count}">1</td>
            <td><a href="#" th:text="${day.getWeek()}" th:href="@{/class-schedule/{schedule}(schedule = ${day.name()})}">요일</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>