<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header(title='월요일 시간표')}"></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <table class="table table-Danger table-hover">
        <thead>
            <tr class="table-danger">
                <th scope="col">수업명</th>
                <th scope="col">1교시</th>
                <th scope="col">2교시</th>
                <th scope="col">3교시</th>
                <th scope="col">4교시</th>
                <th scope="col">5교시</th>
                <th scope="col">6교시</th>
                <th scope="col">7교시</th>
                <th scope="col">8교시</th>
                <th scope="col">9교시</th>
                <th scope="col">10교시</th>
            </tr>
        </thead>
        <tbody th:each="response : ${classtimeResponseList}">
            <tr>
                <td scope="row" th:text="${response.classname()}" class="table-info">수업명</td>
                <td scope="row" th:each="time : ${response.times()}" th:classappend="${time == true} ? bg-black : ''"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>