<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header(title='시간표')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid" th:insert="~{fragments/content :: content(~{::table}, '수업반출시간표')}">
    <table class="table table-Danger table-hover" >
        <thead>
        <tr class="table-danger">
            <th scope="col" class="border border-warning border-1">수업명</th>
            <th
                    scope="col"
                    class="border border-warning border-1"
                    th:each="num : ${#numbers.sequence(1, 10)}"
            >
                [[${num}]]교시
            </th>
        </tr>
        </thead>
        <tbody th:each="classtimeResponse : ${classtimeResponseList}">
        <tr>
            <td scope="row"  class="table-info">
                <a href="#" th:text="${classtimeResponse.classname()}"
                   th:href="@{/rental/{dayofWeek}/{classname} (dayofWeek = ${classtimeResponse.dayOfWeekEnum().name()}, classname = ${classtimeResponse.id()})}">수업명</a>
            </td>
            <td scope="row" th:each="time : ${classtimeResponse.times()}"
                th:classappend="${time == true} ? 'bg-dark' : ''"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
</script>
</body>
</html>