<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header(title='오늘 남는수량')}"></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <table class="table">
        <thead class="table-dark">
            <th scope="col" class="border border-warning border-1">장비 이름</th>
            <th scope="col" class="border border-warning border-1">대여가능</th>
            <th scope="col" class="border border-warning border-1">총</th>
        </thead>
        <tbody>
            <tr th:each="equipmentResponse : ${equipmentResponseList}">
                <th scope="row" th:text="${equipmentResponse.equipmentName()}">카메라</th>
                <td scope="row" th:text="${equipmentResponse.retCnt()}">2</td>
                <td scope="row" th:text="${equipmentResponse.leftCnt()}">2</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>