<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main_fragment :: header(title='수업장비확인')}"></head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>
<div class="container-fluid" th:insert="~{fragments/main_fragment :: content(~{::table}, '수업 장비대여')}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">장비명</th>
            <th scope="col">나갈 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipment : ${rentalEquipment}">
            <th scope="row" th:text="${equipment.name()}">1</th>
            <td th:text="${equipment.retCnt() - equipment.leftCnt()}">렌탈횟수</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>