<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header(title='수업장비확인')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container-fluid" th:insert="~{fragments/content :: content(~{::table}, '수업 장비대여')}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">장비명</th>
            <th scope="col">나갈 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipment : ${rentalEquipment}">
            <th scope="row" th:text="${equipment.name()}">1</th>
            <td th:text="${equipment.retCnt() - equipment.leftCnt()}">Mark</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>