<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='기자재 상위 카테고리')}">
    <title>기자재 카테고리</title>
</head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

    <!-- 위쪽 사이드 바-->
    <div class="container-fluid">
    <div th:replace="~{fragments/main_fragment :: content(~{::table}, '카테고리')}">
        <!--    컨텐츠-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">카테고리 명</th>
                <th><a th:href="@{/admin/category/add}" type="button" class="btn btn-primary">추가</a></th>
            </tr>
            <tbody th:each="category : ${primaryCategoryPage.getContent()}">
            <tr>
                <td scope="row" th:text="${categoryStat.count}">1</td>
                <td>
                    <a href="#" th:text="${category.getCategoryName()}"
                       th:href="@{/admin/category/{secondaryCategory}(secondaryCategory = *{category.getCategoryName()})}">하위 카테고리</a>
                </td>
                <td>
                    <a th:href="@{/admin/category/delete/{categoryid} (categoryid = ${category.getId()})}"
                       type="button" class="btn btn-danger">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <nav aria-label="Page navigation"  th:object="${primaryCategoryPage}"
             th:with="start=${(primaryCategoryPage.getNumber()/10)*10 + 0},
                last=(${start + 9 < primaryCategoryPage.getTotalPages() ? start + 9 : primaryCategoryPage.getTotalPages()}),
                url = 'admin/category'">

            <!--카테고리 값이 있을 경우-->
            <ul class="pagination justify-content-center" th:if="${param.category != null}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="${primaryCategoryPage.isFirst()} ? '#' : @{/{url}(url=${url}, page=${primaryCategoryPage.getNumber() - 1}, category=${param.category})}"
                       aria-label="Previous">
                        이전
                    </a>
                </li>
                <li class="page-item"
                    th:each="num : ${#numbers.sequence(start, last)}"
                    th:classappend="${primaryCategoryPage.getNumber() == num} ? 'active' : ''"
                >
                    <a class="page-link"
                       href="#"
                       th:href="@{/{url}(url=${url}, page=${num}, category=${param.category})}"
                       th:text="${num + 1}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="${primaryCategoryPage.isLast()} ? '#' : @{/{url}(url=${url}, page=${primaryCategoryPage.getNumber() + 1}, category=${param.category})}"
                       aria-label="Next">
                        다음
                    </a>
                </li>
            </ul>

            <!-- 카테고리 값이 없을경우-->
            <ul class="pagination justify-content-center" th:unless="${param.category != null}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="${primaryCategoryPage.isFirst()} ? '#' : @{/{url}(page=${primaryCategoryPage.getNumber() - 1}, url=${url})}"
                       aria-label="Previous">
                        이전
                    </a>
                </li>
                <li class="page-item"
                    th:each="num : ${#numbers.sequence(start, last)}"
                    th:classappend="${primaryCategoryPage.getNumber() == num} ? 'active' : ''"
                >
                    <a class="page-link"
                       href="#"
                       th:href="@{/{url}(page=${num}, url=${url})}"
                       th:text="${num + 1}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="${primaryCategoryPage.isLast()} ? '#' : @{/{url}(page=${primaryCategoryPage.getNumber() + 1}, url=${url})}"
                       aria-label="Next">
                        다음
                    </a>
                </li>
            </ul>
        </nav>
</div>
</div>
</body>
</html>