<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='기자재')}">
    <title>기자재</title>
</head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

    <!-- Page Content  -->
    <div class="container-fluid" th:insert="~{fragments/main_fragment :: content(~{::form}, '기자재 추가')}">
        <!--    컨텐츠-->
        <form th:object="${requestForm}" method="post" enctype="multipart/form-data">
            <!-- 수정일 경우 카테고리 선택 아닐 경우 선택안함 -->
            <div class="form-group">
                <label for="primaryCategory">상위 카테고리</label>
                <select class="form-control" name="primaryCategory" id="primaryCategory" th:field="*{primaryCategory}">
                    <option value="" selected>카테고리 선택</option>
                    <option
                            th:each="category : *{getPrimaryCategories()}"
                            th:value="${category.getId()}"
                            th:text="${category.getCategoryName()}"
                            th:selected="${category.getId()} == ${requestForm.getCategoryId()}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('primaryCategory')}"
                     th:errors="*{primaryCategory}"
                     class="alert alert-danger mt-1"
                     role="alert">
                </div>
            </div>
            <div class="form-group">
                <label for="secondaryCategory">하위 카테고리</label>
                <select class="form-control" name="secondaryCategory" id="secondaryCategory"
                        th:field="*{secondaryCategory}">
                </select>
                <div th:if="${#fields.hasErrors('secondaryCategory')}"
                     th:errors="*{secondaryCategory}"
                     class="alert alert-danger mt-1"
                     role="alert"></div>
            </div>

            <div class="form-group">
                <label for="addEquipment">기자재명</label>
                <input type="text" class="form-control" id="addEquipment" placeholder="기자재 명" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}"
                     class="alert alert-danger mt-1"
                     role="alert"></div>
            </div>

            <div class="form-group">
                <label for="equipmentContent">장비 내용</label>
                <textarea class="form-control" id="equipmentContent" rows="3" th:field="*{content}"></textarea>
                <div th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}"
                     class="alert alert-danger mt-1"
                     role="alert"></div>
            </div>

            <div class="form-group">
                <label for="image">장비이미지</label>
                <input type="file" class="form-control-file" id="image" th:field="*{image}">
            </div>

            <div class="form-group">
                <label for="cnt">창고 갯수</label>
                <input type="text" class="form-control" id="cnt" placeholder="창고에 있는 갯수" th:field="*{count}">
                <div th:if="${#fields.hasErrors('count')}"
                     th:errors="*{count}"
                     class="alert alert-danger mt-1"
                     role="alert"></div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="추가">버튼</button>
        </form>
    </div>
</div>
<script>
    // 1. 상위 카테고리가 변경 2. 변경된 값을 api 보냄 하위 카테고리 추가
    let primaryCategory = document.getElementById("primaryCategory");
    let secondaryCategory = document.getElementById("secondaryCategory");
    primaryCategory.addEventListener("change", async function () {
        let selectedEvn = primaryCategory.options[primaryCategory.selectedIndex].text
        getSecondaryCategory(selectedEvn);
    })
    primaryCategory.addEventListener("click", function() {
        while(secondaryCategory.hasChildNodes()){
            secondaryCategory.removeChild(secondaryCategory.firstElementChild);
        }
    })

    function getSecondaryCategory(primaryCategory) {
        fetch("/api/admin/category/" + primaryCategory)
            .then((response) => response.json())
            .then((data) => {
                data.forEach((a) => {
                    let optionElement = document.createElement("option");
                    optionElement.value = a.id;
                    optionElement.innerText = a.categoryName;
                    secondaryCategory.appendChild(optionElement);
                }); // forEach End
            });     // then End
    }
</script>
</body>
</html>