<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='기자재')}"></head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/main_fragment :: content(~{::form}, '기자재 수정')}">
    <form th:object="${requestForm}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="primaryCategory">상위 카테고리</label>
            <select class="form-control" name="primaryCategory" id="primaryCategory">
                <option
                        th:each="categoryObj : ${requestForm.getPrimaryCategories()}"
                        th:text="${categoryObj.categoryName}"
                        th:selected="${categoryObj.getId == requestForm.categoryId}"
                        th:value="${categoryObj.getId}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('primaryCategory')}"
                 th:errors="*{primaryCategory}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <div class="form-group">
            <label for="secondaryCategory">하위 카테고리</label>
            <select class="form-control" name="secondaryCategory" id="secondaryCategory">
                <option
                        th:each="categoryObj : ${requestForm.getSecondaryCategoryList()}"
                        th:text="${categoryObj.categoryName}"
                        th:selected="${categoryObj.getId == requestForm.categoryId}"
                        th:value="${categoryObj.getId}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('secondaryCategory')}"
                 th:errors="*{secondaryCategory}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <div class="form-group">
            <label for="addEquipment">기자재명</label>
            <input type="text" class="form-control" id="addEquipment" placeholder="기자재 명" th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <div class="form-group">
            <label for="equipmentContent">장비 내용</label>
            <textarea class="form-control" id="equipmentContent" rows="3" th:field="*{content}"></textarea>
            <div th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <!--  기자재 수정이면  -->
        <img th:src="@{/equipment/{image}(image = *{imageName})}"
             width="200"
             height="200"
             src="/경로/"
             alt="장비 이미지">

        <div class="form-group">
            <label for="image">장비이미지</label>
            <input type="file" class="form-control-file" id="image" th:field="*{image}">
        </div>

        <div class="form-group">
            <label for="cnt">창고 갯수</label>
            <input type="text" class="form-control" id="cnt" placeholder="창고에 있는 갯수" th:field="*{count}">
            <div th:if="${#fields.hasErrors('count')}"
                 th:errors="*{count}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
</div>
<script>
    $(document).ready(function () {
        $('#primaryCategory').change(function () {
            const selectedText = $(this).find('option:selected').text();
            $.get("/api/admin/category/" + selectedText)
                .done(function (response) {
                    $("#secondaryCategory").empty();

                    if (response.length === 0) {
                        alert("하위 카테고리에 아무것도 없음");
                        $("#primaryCategory option:eq(0)").attr("selected", "true")
                    }

                    response.forEach(category => {
                        /* 태그 생성 */
                        let createOptionTag = $('<option></option>').text(category.categoryName).val(category.id);
                        $("#secondaryCategory").append(createOptionTag);
                    }) // foreach End
                }).fail(e => alert("서버 연결안됨"))
        }) // change End
    }) // ready End

</script>
</body>
</html>