<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='대여')}"></head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/main_fragment :: content(~{::form}, '대여 추가')}">
    <!--    컨텐츠-->
    <form th:object="${rental}" method="post">
        <!-- 상위 카테고리 선택-->
        <div class="form-group">
            <label for="primaryCategory">상위 카테고리 선택</label>
            <select class="form-control" name="primaryCategory" id="primaryCategory" th:field="*{primaryCategory}">
                <option value="">상위 카테고리 선택</option>
                <option th:each="primaryCategory : ${rental.primaryCategoryList}"
                        th:value="${primaryCategory.getId()}"
                        th:text="${primaryCategory.getCategoryName()}">상위 카테고리 선택</option>
            </select>
            <div th:if="${#fields.hasErrors('primaryCategory')}"
                 th:errors="*{primaryCategory}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <!-- 하위 카테고리 선택-->
        <div class="form-group">
            <label for="secondaryCategory">하위 카테고리 선택</label>
            <select class="form-control" name="equipmentId" id="secondaryCategory" th:field="*{secondaryCategory}">
                <option value="">하위 카테고리 선택</option>
            </select>
            <div th:if="${#fields.hasErrors('secondaryCategory')}"
                 th:errors="*{secondaryCategory}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>
        <!-- 장비 선택 -->
        <div class="form-group">
            <label for="equipment">장비 선택</label>
            <select class="form-control" name="equipmentId" id="equipment" th:field="*{equipmentId}">
                <option value="">장비 선택</option>
                <option th:each="equipment : ${rental.getEquipments()}"
                        th:text="${equipment.getName()}"
                        th:value="${equipment.getId()}">test
                </option>
            </select>
            <div th:if="${#fields.hasErrors('equipmentId')}"
                 th:errors="*{equipmentId}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>


        <div class="form-group">
            <h6>요일</h6>
            <div class="form-check form-check-inline" th:each="day : ${T(com.equipment.school_equipment.domain.enumDomain.DayOfWeekEnum).values()}">
                <label class="form-check-label" th:for="${day}">
                    <input class="form-check-input"
                           type="radio"
                           th:field="*{weekday}"
                           th:value="${day}"
                           th:id="${day}"
                           th:text="${day.getWeek()}"
                    >
                </label>
            </div>
            <div th:if="${#fields.hasErrors('weekday')}"
                 th:errors="*{weekday}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <div class="form-group">
            <label for="classroom">수업 선택</label>
            <select class="form-control" name="classroomId" id="classroom" th:field="*{classroomId}">
                <option value="">수업명</option>
            </select>
            <div th:if="${#fields.hasErrors('classroomId')}"
                 th:errors="*{classroomId}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>


        <div class="form-group">
            <label for="cnt">대여 수</label>
            <input type="text" class="form-control" id="cnt" placeholder="대여 수" th:field="*{retCnt}">
            <div th:if="${#fields.hasErrors('retCnt')}"
                 th:errors="*{retCnt}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>
</div>
<script>
    $(document).ready(function () {
        $('#primaryCategory').change(function (e) {
            const selectedText = $(this).find('option:selected').text();
            $.get("/admin/category/api/"+selectedText)
                .done(function(response) {
                    $("#secondaryCategory").empty();

                    if(response.length === 0 ) {
                        alert("하위 카테고리에 아무것도 없음");
                        $("#primaryCategory option:eq(0)").attr("selected", "true")
                    }
                    response.forEach(category =>{
                        /* 태그 생성 */
                        let createOptionTag = $('<option></option>').text(category.categoryName).val(category.id);
                        $("#secondaryCategory").append(createOptionTag);
                        console.log(category)});
                }).fail(() => alert("서버 연결안됨"));
        })// change End
        document.querySelectorAll('.form-check-input').forEach(function (checkbox) {
            checkbox.addEventListener('change', function (e) {
                if (e.target.checked) {
                    fetch('/api/class-period/' + e.target.id)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            if(data.length >= 1) {
                                const select = document.getElementById('classroom');
                                select.innerHTML = '';
                                data.forEach(function (classtime) {
                                    const option = document.createElement('option');
                                    option.text = classtime.classNames;
                                    option.value = classtime.id;
                                    select.add(option);
                                });
                            }
                            else {
                                alert('해당 요일에는 수업이 없습니다.');
                                e.target.checked = false;
                            }
                        });
                }
                if (!e.target.checked) {
                    const select = document.getElementById('classroom');
                    select.innerHTML = '';
                    const option = document.createElement('option');
                    option.text = "수업명";
                    option.value = '';
                    select.add(option);
                }
            });
        });
    }); //ready End
</script>
</body>
</html>