<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='대여')}"></head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/main_fragment :: content(~{::form}, '대여 추가')}">
    <!--    컨텐츠-->
    <form th:object="${rental}" method="post">
        <!-- 상위 카테고리 선택-->
        <div class="form-group">
            <label for="primaryCategory">상위 카테고리 선택</label>
            <select class="form-control" name="primaryCategory" id="primaryCategory" th:field="*{primaryCategory}">
                <option value="">상위 카테고리 선택</option>
                <option th:each="primaryCategory : ${rental.primaryCategoryList}"
                        th:value="${primaryCategory.getId()}"
                        th:text="${primaryCategory.getCategoryName()}">상위 카테고리 선택</option>
            </select>
            <div th:if="${#fields.hasErrors('primaryCategory')}"
                 th:errors="*{primaryCategory}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <!-- 하위 카테고리 선택-->
        <div class="form-group">
            <label for="secondaryCategory">하위 카테고리 선택</label>
            <select class="form-control" name="equipmentId" id="secondaryCategory" th:field="*{secondaryCategory}">
                <option value="">하위 카테고리 선택</option>
            </select>
            <div th:if="${#fields.hasErrors('secondaryCategory')}"
                 th:errors="*{secondaryCategory}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>
        <!-- 장비 선택 -->
        <div class="form-group">
            <label for="equipment">장비 선택</label>
            <select class="form-control" name="equipmentId" id="equipment" th:field="*{equipmentId}">
                <option value="">장비 선택</option>
                <option th:each="equipment : ${rental.getEquipments()}"
                        th:text="${equipment.getName()}"
                        th:value="${equipment.getId()}">test
                </option>
            </select>
            <div th:if="${#fields.hasErrors('equipmentId')}"
                 th:errors="*{equipmentId}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>


        <div class="form-group">
            <h6>요일</h6>
            <div class="form-check form-check-inline" th:each="day : ${T(com.equipment.school_equipment.domain.enumDomain.DayOfWeekEnum).values()}">
                <label class="form-check-label" th:for="${day}">
                    <input class="form-check-input"
                           type="radio"
                           th:field="*{weekday}"
                           th:value="${day}"
                           th:id="${day}"
                           th:text="${day.getWeek()}"
                    >
                </label>
            </div>
            <div th:if="${#fields.hasErrors('weekday')}"
                 th:errors="*{weekday}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <div class="form-group">
            <label for="classroom">수업 선택</label>
            <select class="form-control" name="classroomId" id="classroom" th:field="*{classroomId}">
                <option value="">수업명</option>
            </select>
            <div th:if="${#fields.hasErrors('classroomId')}"
                 th:errors="*{classroomId}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>


        <div class="form-group">
            <label for="cnt">대여 수</label>
            <input type="text" class="form-control" id="cnt" placeholder="대여 수" th:field="*{retCnt}">
            <div th:if="${#fields.hasErrors('retCnt')}"
                 th:errors="*{retCnt}"
                 class="alert alert-danger mt-1"
                 role="alert"></div>
        </div>

        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>
</div>
<script>
    //필드
    let primaryCategory = document.getElementById("primaryCategory");
    let secondaryCategory = document.getElementById("secondaryCategory");
    let equipmentElement = document.getElementById("equipment");

    //이벤트
    primaryCategory.addEventListener("change", async function () { // 상위 카테고리 변경될 경우
        let selectedEvn = primaryCategory.options[primaryCategory.selectedIndex].text
        addElementCategory(selectedEvn);
    });
    primaryCategory.addEventListener("click", function () { // 상위 카테고리 클릭
        while (secondaryCategory.hasChildNodes()) {
            secondaryCategory.removeChild(secondaryCategory.firstChild);
        }
    });
    secondaryCategory.addEventListener("change", async function() { // 하위 카테고리 변경될 경우
        addElementEquipment(primaryCategory, secondaryCategory)
    });
    dayOfWeek.forEach((day) => day.addEventListener("change", function (e) {
        let parameter = e.target.value;
        fetch("/api/class-period/"+parameter)
            .then((res) => res.json())
            .then((res) => {
                if(res.length <= 0) alert("현재 선택한 요일은 수업이 없습니다.");
                res.forEach((data) => {
                    console.log(data);
                    let optionElement = document.createElement("option");
                    optionElement.value = data.id;
                    optionElement.innerText = data.classNames;
                    classroomElement.appendChild(optionElement);
                })
            })
    }));

    //함수

    // 하위 카테고리 가져오기
    function addElementCategory(primaryCategory) {
        fetch("/api/admin/category/" + primaryCategory)
            .then((response) => response.json())
            .then((data) => {

                data.forEach((a) => {
                    let optionElement = document.createElement("option");
                    optionElement.value = a.id;
                    optionElement.innerText = a.categoryName;
                    secondaryCategory.appendChild(optionElement);
                }); // forEach End
            });     // then End
    }

    // 제품 가져오기
    function addElementEquipment(primaryCategory, secondaryCategory){
        const param = {
            primaryCategoryId : primaryCategory.value,
            secondaryCategoryId : secondaryCategory.value
        }

        let paramSearchParams = new URLSearchParams(param).toString();
        fetch("/api/admin/equipment?"+paramSearchParams)
            .then((response) => response.json())
            .then((response) => {
                response.forEach((data) => {
                    let optionElement = document.createElement("option");
                    optionElement.value = data.id;
                    optionElement.innerText = data.name
                    equipmentElement.appendChild(optionElement);
                })
            })
    }
</script>
</body>
</html>