<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='대여')}">
    <title>제목</title>
</head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

    <!-- Page Content  -->
    <div class="container-fluid" th:insert="~{fragments/main_fragment :: content(~{::table}, '대여')}">
        <!-- 위쪽 사이드 바-->
        <div class="container-fluid">
            <div th:insert="~{fragments/main_fragment :: content(~{::#table}, '오늘 대여 가능 기자재')}">
                <!-- 콘텐츠 -->
                <table class="table table-hover" id="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">요일</th>
                        <th scope="col">수업명</th>
                        <th scope="col">장비명</th>
                        <th scope="col">대여</th>
                        <th><a th:href="@{/admin/rental/add}" type="button" class="btn btn-primary">추가</a></th>

                    </tr>
                    <tbody>
                    <tr th:each="rental : ${rentals}" th:object="${rental}">
                        <td scope="row" th:text="${rentalStat.count}">1</td>
                        <td scope="row" th:text="*{week()}">수업요일</td>
                        <td scope="row" th:text="*{className()}">수업이름</td>
                        <td scope="row" th:text="*{equipmentName()}">장비이름</td>
                        <td scope="row" th:text="*{rentalCnt()}">갯수</td>
                        <td>
                            <a th:href="@{/admin/rental/delete/{rentalId} (rentalId = ${rental.id()})}" type="button"
                               class="btn btn-danger">삭제</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    let elementsTrTag = document.getElementsByTagName("tr");

    for (let i = 0; i < elementsTrTag.length; i++) {
        let trElementId = elementsTrTag.item(i);
        let trElementToAtag = trElementId.getElementsByTagName("a")[0]
            .getAttribute("href")
            .split("/")[4]
        trElementId.addEventListener("click", function () {
            window.location.href="/admin/rental/edit/"+trElementToAtag;
        });

    }
</script>
</html>