<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: header(title='장비')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Page Content  -->
<div class="container-fluid" th:insert="~{fragments/content :: content(~{::table}, '대여')}">
    <!--    컨텐츠-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">요일</th>
            <th scope="col">수업명</th>
            <th scope="col">장비명</th>
            <th scope="col">대여</th>
            <th><a th:href="@{/admin/rental/add}" type="button" class="btn btn-primary">추가</a></th>

        </tr>
        <tbody>
        <tr th:each="rental : ${rentals}" th:object="${rental}">
            <td scope="row" th:text="${rentalStat.count}">1</td>
            <td scope="row" th:text="*{week()}">수업요일</td>
            <td scope="row" th:text="*{className()}">수업이름</td>
            <td scope="row" th:text="*{equipmentName()}">장비이름</td>
            <td scope="row" th:text="*{rentalCnt()}">갯수</td>
            <td><a th:href="@{/admin/rental/delete/{rentalId} (rentalId = ${rental.id()})}" type="button" class="btn btn-danger">삭제</a></td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script defer>
    $(document).ready(function() {
        $('tbody tr').click(function (e){
            let clickTr = e.target.closest('tr').cells[4];
            let deleteBtn = e.target.closest('tr').cells[5].querySelector('a');

            // clickTr 이벤트
            clickTr.setAttributeNode(document.createAttribute('contenteditable'));
            // deleteBtn 이벤트
            let attributeOldHref = deleteBtn.getAttribute('href');
            let attributeChangeHref = attributeOldHref.replace('delete', 'update');
            $(deleteBtn).text('수정');
            $(deleteBtn).prop('href', attributeChangeHref);
            $(deleteBtn).removeClass('btn-danger');
            $(deleteBtn).addClass('btn btn-secondary');
        })
    })
</script>
</body>
</html>