<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/main_fragment :: header(title='대여')}">
    <title>제목</title>
</head>
<body>
<!-- 왼쪽 사이드 바-->
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="~{fragments/main_fragment :: sidebar}"></nav>

    <!-- Page Content  -->
    <div class="container-fluid">
        <!-- 위쪽 사이드 바-->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- 위쪽 요일창 -->
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <button class="btn btn-link" type="button" onclick="location.href='/admin/rental'">전체</button>
                            </li>
                            <li class="nav-item"
                                th:each="day : ${T(com.equipment.school_equipment.domain.enumDomain.DayOfWeekEnum).values()}">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle"
                                            type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            th:text="*{day.getWeek()}" th:id="*{day.getWeek()}"
                                            th:href="@{/admin/rental(week = *{day.getName(day.getWeek())})}">

                                    </button>
                                    <div class="dropdown-menu" th:aria-labelledby="${day.getWeek()}">
<!--                                        <a href="#" class="dropdown-item" th:text="${day.getWeek()}">메뉴</a>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h2>대여목록</h2>
            <!-- 콘텐츠 -->
            <div>
                <table class="table table-hover" id="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">요일</th>
                        <th scope="col">수업명</th>
                        <th scope="col">장비명</th>
                        <th scope="col">대여</th>
                        <th><a th:href="@{/admin/rental/add}" type="button" class="btn btn-primary">추가</a></th>

                    </tr>
                    <tbody>
                    <tr th:each="rental : ${rentals}" th:object="${rental}">
                        <td scope="row" th:text="${rentalStat.count}">1</td>
                        <td scope="row" th:text="*{week()}">수업요일</td>
                        <td scope="row" th:text="*{className()}">수업이름</td>
                        <td scope="row" th:text="*{equipmentName()}">장비이름</td>
                        <td scope="row" th:text="*{rentalCnt()}">갯수</td>
                        <td>
                            <a th:href="@{/admin/rental/delete/{rentalId} (rentalId = ${rental.id()})}"
                               type="button"
                               class="btn btn-danger">삭제</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Page navigation" th:object="${page}"
             th:with="start=${(page.getNumber()/10)*10 + 0},
                last=(${start + 9 < page.getTotalPages() ? start + 9 : page.getTotalPages()}),
                url = 'admin/rental'">

            <!--요일 값이 있을 경우-->
            <ul class="pagination justify-content-center" th:if="${param.week != null}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="${page.isFirst()} ? '#' : @{/{url}(url=${url}, page=${page.getNumber() - 1}, week=${param.week})}"
                       aria-label="Previous">
                        이전
                    </a>
                </li>
                <li class="page-item"
                    th:each="num : ${#numbers.sequence(start, last)}"
                    th:classappend="${page.getNumber() == num} ? 'active' : ''"
                >
                    <a class="page-link"
                       href="#"
                       th:href="@{/{url}(url=${url}, page=${num}, week=${param.week})}"
                       th:text="${num + 1}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="${page.isLast()} ? '#' : @{/{url}(url=${url}, page=${page.getNumber() + 1}, week=${param.week})}"
                       aria-label="Next">
                        다음
                    </a>
                </li>
            </ul>

            <!-- 요일 값이 없을경우-->
            <ul class="pagination justify-content-center" th:unless="${param.week != null}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="${page.isFirst()} ? '#' : @{/{url}(page=${page.getNumber() - 1}, url=${url})}"
                       aria-label="Previous">
                        이전
                    </a>
                </li>
                <li class="page-item"
                    th:each="num : ${#numbers.sequence(start, last)}"
                    th:classappend="${page.getNumber() == num} ? 'active' : ''"
                >
                    <a class="page-link"
                       href="#"
                       th:href="@{/{url}(page=${num}, url=${url})}"
                       th:text="${num + 1}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="${page.isLast()} ? '#' : @{/{url}(page=${page.getNumber() + 1}, url=${url})}"
                       aria-label="Next">
                        다음
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script>
    let elementsTrTag = document.getElementsByTagName("tr");

    for (let i = 0; i < elementsTrTag.length; i++) {
        let trElementId = elementsTrTag.item(i);
        let trElementToAtag = trElementId.getElementsByTagName("a")[0]
            .getAttribute("href")
            .split("/")[4]
        trElementId.addEventListener("click", function () {
            window.location.href = "/admin/rental/edit/" + trElementToAtag;
        }); // eventListener function close
    }       // for close

    let dropdownTag = document.getElementsByClassName("dropdown");
    for (const dropdownToggleTagElement of dropdownTag) {
        dropdownToggleTagElement.addEventListener("mouseover", function (e) {
            let eventTarget = e.currentTarget;
            let childDropdownMenu = eventTarget.children[1];
            let id = e.target.id

            fetch("/api/admin/class-period?week=".concat(id))
                .then(response => response.json())
                .then(response => {
                    for (let i = 0; i < response.obj.length; i++) {
                        let aTagElement = document.createElement("a");
                        aTagElement.text = response.obj[i].name;
                        aTagElement.classList.add("dropdown-item");
                        childDropdownMenu.appendChild(aTagElement);
                    }
                })
            eventTarget.children[1].style.display = "block"
        }); // mouseover Listener function close

        dropdownToggleTagElement.addEventListener("mouseout", function (e) {
            let childDropdownMenu = e.currentTarget.children[1];
            childDropdownMenu.style.display = "none"
        }) // blur Listener function close
    }       // for close
</script>
</body>
</html>